# Node / npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log
psalm_errors.txt

# OS / Editor
.DS_Store
Thumbs.db

# Composer / Psalm
vendor/
psalm.xml
composer.lock
composer.json
NDH6SA~M