name: Psalm Security Scan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  psalm:
    name: Psalm Taint Analysis
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read # for github/codeql-action/upload-sarif to get scan monitoring

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2

      - name: Setup PHP
        uses: shivammathur/setup-php@2.36.0
        with:
          php-version: "8.4"
          extensions: dom, curl, libxml, mbstring, zip
          coverage: none

      - name: Install Psalm
        run: |
          composer require --dev vimeo/psalm
          ./vendor/bin/psalm --init . 1

      - name: Run Psalm Security Scan
        run: ./vendor/bin/psalm --taint-analysis --report=results.sarif

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        if: always()
        with:
          sarif_file: results.sarif
